.container {
  padding: 20px;
  background-color: #f4f4f4;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.flag {
  width: 100px;
  height: auto;
}

.header {
  text-align: center;
  margin-bottom: 20px;
}

.borderCountries {
  margin: 5px 0;
}

.borderItem {
  margin: 5px 0;
  text-decoration: none;
}

.borderLink {
  text-decoration: none;
  color: green;
}

.borderLink:hover {
  text-decoration: underline;
}
